<a href="https://colab.research.google.com/github/VysakhVasudevan/intro-to-python-/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=input("Passengers Travel Source:")
y=input("Travel Destination:")
z=int(input("Number of Passengers:"))
print(x,y,z)

Passengers Travel Source:Train
Travel Destination:Bombay
Number of Passengers:12
Train Bombay 12

In [ ]:
x=int(input("Total Ticket Fare:"))
y=int(input("Number of Passengers:"))
Ticket price = print(x/y)

Total Ticket Fare:10000
Number of Passengers:10
1000.0

In [ ]:
x=input("Passengers Name:")
y=input("Ticket Fare:")
print(x,y)

Passengers Name:Jerril
Ticket Fare:2000
Jerril 2000

In [ ]:
x=int(input("Total Ticket Fare:"))
if x>10000:
  print("Eligible for discount")

Total Ticket Fare:12000
Eligible for discount

In [ ]:
x=int(input("Total Ticket fare:"))
if x>15000:
  print("Eligible for 20% discount")
else:
  print("Eligible for 10% discount")

Total Ticket fare:20000
Eligible for 20% discount

In [ ]:
x=int(input("Total Ticket fare:"))
if x>15000:
  print("Eligible for 20% discount")
  print(x*20/100)
if x>10000 and x<15000:
  print("Eligible for 10% discount")
  print(x*10/100)
if x<10000:
  print("Eligible for 5% discount")
  print(x*5/100)

Total Ticket fare:30000
Eligible for 20% discount
6000.0

In [ ]:
x=int(input("Enter A Number:"))
if x>0 :
  print("positive")
if x<0 :
  print("negative")
if x==0 :
  print("is zero")

Enter A Number:12
positive

In [ ]:
x=int(input ("Age:"))
if x>18 :
  print("Adult")
if x>12 and x<20 :
  print("Teenager")
if x>5 and x<13 :
  print("Kid")
if x>1 and x<6 :
  print("Toddler")
if x<2 :
  print("Infant")

Age:13
Teenager

In [ ]:
x=input("Passengers Initial:")
if x=="A":
 print("Vowel")
elif x=="E":
 print("Vowel")
elif x=="I":
 print("Vowel")
elif x=="O":
 print("Vowel")
elif x=="U":
 print("Vowel")
else:
 print("Not Vowel")

Passengers Initial:N
Not Vowel

In [ ]:
x=input("Enter Your Name:")
for a in x:
  print(a)

Enter Your Name:Aaron
A
a
r
o
n

In [ ]:
x=int(input("Enter Number:"))
for a in range(44,88):
  print(a)

Enter Number:44
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87

In [ ]:

x=0
for a in range(1,6):
  x=x+a
  print(a,x)

1 1
2 3
3 6
4 10
5 15

In [ ]:
x=int(input("Enter a Number:"))
if x<0:
  print("absolute value of", x , "is" , x*-1)
else:
  print("absolute value of" , x , "is", x)

Enter a Number:-9
absolute value of -9 is 9

In [ ]:
x=int(input("Enter a Number:"))
if x<25:
  print("F Grade")
elif x>25 and x<45:
  print("E Grade")
elif x>45 and x<50:
  print("D Grade")
elif x>50 and x<60:
  print("C Grade")
elif x>60 and x<80:
  print("B Grade")
elif x>80:
  print("A Grade")

Enter a Number:78
B Grade

In [ ]:
x=int(input("Number of Classes held:"))
y=int(input("Number of classes attended:"))
z=(y/x*100)
print(z)
if z<75 :
  print("Student not Allowed into the class")
else:
  print("Student allowed into the Class" )

Number of Classes held:100
Number of classes attended:70
70.0
Student not Allowed into the class

In [ ]:
print(' 1. Addition \n 2. Subtraction \n 3. Multiplication \n 4. Division \n 5. Modulus \n 6. Floor Division \n 7. Exponent')
x=int(input('Enter the operaton to be performed '))
y=int(input('Enter the first number '))
z=int(input('Enter the second number '))
if x==1:
  add=y+z
  print('Addition:',add)
elif x==2:
  sub=y-z
  print('Subtraction:',sub)
elif x==3:
  mul=y*z
  print('Multiplication:',mul)
elif x==4:
  div=y/z
  print('Division:',div)
elif x==5:
  mod=y%z
  print('Modulus:',mod)
elif x==6:
  flr=y//z
  print('Floor Division:',flr)
elif x==7:
  exp=y**z
  print('Exponent:',exp)

 1. Addition
 2. Subtraction
 3. Multiplication
 4. Division
 5. Modulus
 6. Floor Division
 7. Exponent
Enter the operaton to be performed 3
Enter the first number 4
Enter the second number 6
Multiplication: 24

In [ ]:
import statistics
a=int(input('Enter marks of first subject '))
b=int(input('Enter marks of second subject '))
c=int(input('Enter marks of third subject '))
d=int(input('Enter marks of fourth subject '))
e=int(input('Enter marks of fifth subject '))
m=a,b,c,d,e
print('Least marks:',min(a,b,c,d,e))
print('Maximum marks:',max(a,b,c,d,e))
print('Average marks:',statistics.mean(m))
print('Round off marks',round(statistics.mean(m),2))

Enter marks of first subject 7
Enter marks of second subject 4
Enter marks of third subject 8
Enter marks of fourth subject 2
Enter marks of fifth subject 7
Least marks: 2
Maximum marks: 8
Average marks: 5.6
Round off marks 5.6

In [1]:
num= int(input("enter the number"))
for i in range(1,12):
  print(i*num)

enter the number3
3
6
9
12
15
18
21
24
27
30
33

In [4]:
num1=int(input("Enter the number"))
for i in range(1,11):
  print(num1, "*" , i ,"=", i*num1 )

Enter the number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [7]:
num=int(input())
i=1
while(i<=10):
  print(i*num)
  i=i+1

5
5
10
15
20
25
30
35
40
45
50

In [19]:
n1=input("Number")
d=0
for i in n1:
  #print(i)
  d=d+1
  print(d)

Number5657667
1
2
3
4
5
6
7

In [26]:
x=input("enter a word")
w= ""
for i in x:  
  w=i+w
print(w)
if x==w: 
  print('true')
else:
  print('false')

enter a wordamma
amma
true

In [27]:
name=input("Enter the name: ")
if name.isupper():
  print(name.lower())
if name.islower():
  print(name.upper())
print(len(name))

Enter the name: renu
RENU
4